/*  your css code here. If applicable */
.container{
	position: absolute;
	top: 30%;
	left: 30%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: lightblue;
	color: purple;
	
	font-family: sans-serif;
	font-size: 20px;
	
	border: 2px solid black;
	width: 200px;
	height: 200px;
}